footer {
    width: 100%;
    background-color: $primaryFirst;
    padding: 4px 0;
    & a {
        margin-left: 8px;
    }
    & div {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        color: $light-bg;
    }
}

@media (max-width: 1199px) {
    footer {
        & div {
            font-size: 1em;
        }
    }
}
@media (max-width: 979px) {
    footer {
        & a {
            display: none;
        }
        & div {
            font-size: 18px;
            padding-top: 21px;
            padding-bottom: 17px;
            text-align: center;
            width: 364px;
            margin: 0 auto;
            & span {
                padding-left: 45px;
                padding-right: 45px;
            }
        }
    }
}
@media (max-width: 639px) {
    footer {
        & a {
            display: none;
        }
        & div {
            font-size: 11px;
            padding-top: 20px;
            padding-bottom: 17px;
            text-align: center;
            width: 241px;
            margin: 0 auto;
        }
    }
}