.logo-header {
    background: url('../../../dist/img/header-fon@1X.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 649px;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: left;
    margin-bottom: 2px;
}
.pizza {
    padding-top: 19px;
    font-size: 62px;
    width: 647px;
    color: $light-bg;
}
.email {
    padding-top: 17px;
    &-link {
        font-size: 38px;
    color: #A6D6E0;
    text-decoration: none;
    display: block;
        &:hover {
            color: #A6D6E0;
        }
    }
}
@media (min-width: 1200px) {
    .logo-header {
        & .row {
            flex-direction: column;
        }
    }
}
@media (max-width: 1199px) {
    .logo-header {
        height: 530px;
        background-size: cover;
    }
    .pizza {
        font-size: 54px;
        width: 564px;
    }
    .email {
        &-link {
            font-size: 34px;
        }
    }
    .logo-header {
        & .row {
            flex-direction: column;
        }
    }
}
@media (max-width: 979px) {
    .logo-header {
        height: 346px;
        background-size: cover;
    }
    .pizza {
        width: 376px;
        font-size: 36px;
    }
    .email {
        &-link {
            font-size: 24px;
        }
    }
}
@media (max-width: 639px) {
    .logo-header {
        height: 173px;
    }
    .pizza {
        font-size: 16px;
        width: 167px;
    }
    .email {
        &-link {
            font-size: 14px;
        }
    }
}

