.main-header {
    background-color: $darkTheme;
}
nav {
    a{
        color: $light-bg;
        margin-right: 16px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 22px 0;
        font-size: 14px;
        position: relative;
        font-family: 'Lato', sans-serif;
        &:hover {
            text-decoration: none;
            color: $primaryFirst;
        }
    }
}
.navigation {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
    font-size: 24px;
    text-align: left;
    text-transform: capitalize;
    color: $light-bg;
    display: none;
}
.logo {
    padding: 4px 0;
}
.burger-btn {
    width: 83px;
    height: 74px;
    background-color: #202529;
    position: relative;
    display: none;
    cursor: pointer;
    &>div{
        position: absolute;
        background: $light-bg;
        top: 45%;
        left: 25%;
        width: 50%;
        height: 4px;
        border-radius: 30px;
        transition: all 0.3s linear;
    }
    & .one {
        top: 26%;
    }
    &.active .one {
        transform: rotate(45deg);
        top: 45%;
        left: 25%;
    }
    &.active .two {
        opacity: 0;
    }
    & .three {
        top: 65%;
    }
    &.active .three {
        transform: rotate(-45deg);
        top: 45%;
        left: 25%;
    }
}
@media (max-width: 979px) {
    .main-header {
        display: flex;
    }
    .burger-btn {
        display: flex;
    }

    .logo {
        display: none;
    }
    nav{
        display: none;
        flex-direction: column;
        width: 240px;
        position: absolute;
        background-color: $darkTheme; 
        top: 74px;
        right: -16px;
        opacity: 1;
        transition: all 0.5s linear;
        &.active {
            display: flex;
        }
        & a {
            background-color: $dropDownMenuBgC;
            color: $dropDownMenu;
            padding: 16px 0 16px 20px;
            border-bottom: 1px solid #F5F5F5;
            border-left: 1px solid #F5F5F5;
            transition: all 0.2s linear;
            &:hover {
                background-color: #F5F5F5;
                color: $darkTheme;
            }
        }
    }
    .navigation {
        display: block;
        padding-top: 24px;
        padding-left: 19px;
    }
}

@media (max-width: 639px) {
    .navigation {
        font-size: 12px;
        line-height: 0.2;
        padding-top: 18px;
    }
    .burger-btn {
        width: 44px;
        height: 37px;
        &>div {
            height: 2px;
        }
    }
    nav {
        width: 182px;
        top: 37px;
        & a {
            font-size: 12px;
            padding-top: 14px;
            padding-left: 12px;
        }
    }
}