.main {
    margin-top: 21px;
}
.sprite {
    background-image: url('../../../dist/img/spritesheet.png');
    background-repeat: no-repeat;
    display: block;
}
.sprite-Layer-11_1X {
    width: 49px;
    height: 48px;
    background-position: -3px -51px;
}
.sprite-Layer-9_1X {
    width: 27px;
    height: 48px;
    background-position: -119px -3px;
}
.sprite-Layer-10_1X {
    width: 61px;
    height: 42px;
    background-position: -3px -3px;
}
.sprite-Layer-8_1X {
    width: 43px;
    height: 42px;
    background-position: -70px -3px;
}
.menu-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 4px;
    &-item {
        padding-top: 18px;
        &>h3 {
            min-width: 75%;
            text-transform: uppercase;
            font-size: 26px;
            color: $darkTheme;
        }
        &>p {
            min-width: 25%;
            font-size: 13px;
            color: #CBCCCE;
        }
    }
    & .menu-header-logo {
        height: 120px;
        width: 98px;
    }
}
.menu-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 113px;
    & .col {
        margin-top: 11px;
        min-width: 50%;
        &-header {
            text-transform: uppercase;
            font-size: 26px;
            margin-bottom: 7px;
        }
    }
    & .theme640 {
        display: none;
    }
}
.name {
    font-size: 27px;
    text-transform: uppercase;
    color: $primarySecond;
    padding-top: 8px;
}
.main-col-menu-items {
    color: $primarySecond;
    margin-top: 11px;
    & .price {
        font-weight: 700;
        & h4, span {
            font-size: 25px;
        }
    }
    & .description {
        font-size: 18px;
        text-align: justify;
    }
}


.menu-header-second {
    width: 100%;
    & .theme {
        min-width: 50%;
        font-size: 26px;
        text-transform: uppercase;
        padding-left: 2%;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    & .light-theme {
        color: $light-bg;
        background-color: $primaryFirst;
    }
    & .dark-theme {
        color: $primaryFirst;
        background-color: $darkTheme;
    }
}

@media (max-width: 1199px) {
    main {
        margin-top: 36px;
    }
    .menu-main {
        margin-bottom: 63px;
        & .theme640 {
            display: none;
        }
    }
    .menu-header {
        &-item {
            &>h3 {
                font-size: 20px;
            }
            &>p {
                font-size: 13px;
            }
        }
        & .menu-header-logo {
            transform: scale(0.9);
        }
    }
    .menu-header-second {
        & .theme {
            font-size: 22px;
        }
    }
    .main-col-menu-items {
        & .price {
            & h4, span {
                font-size: 17px;
            }
        }
        & .description {
            font-size: 11px;
        }
    }
    .name {
        font-size: 20px;
    }
    .sprite {
        transform: scale(0.8);
    }
}
@media (max-width: 979px) {
    .menu-header-second {
        display: none;
    }
    main {
        margin-top: 34px;
    }
    .menu-main {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 88px;
        & .col {
            min-width: 100%; 
            & .main-col {
                margin: 20px 0; 
                &-header {
                    padding-bottom: 21px;
                }
            }
        }
        & .theme640 {
            display: flex;
        }
        & .dark-theme {
            text-transform: uppercase;
            font-size: 29px;
            padding-left: 2%;
            padding-top: 6px;
            padding-bottom: 6px;
            color: $primaryFirst;
            background-color: $darkTheme;
        }
        & .light-theme {
            text-transform: uppercase;
            font-size: 29px;
            padding-left: 2%;
            padding-top: 6px;
            padding-bottom: 6px;
            color: $light-bg;
            background-color: $primaryFirst;
        }
    }
    .menu-header {
        &-item {
            &>h3 {
                font-size: 26px;
            }
            &>p {
                font-size: 13px;
            }
        }
        & .menu-header-logo {
            display: none;
        }
    }
    .menu-header-second {
        & .theme {
            font-size: 26px;
        }
    }
    .main-col-menu-items {
        & .price {
            & h4, span {
                font-size: 27px;
            }
        }
        & .description {
            font-size: 16px;
        }
    }
    .name {
        font-size: 27px;
    }
}
@media (max-width: 979px) {
    .menu-header-second {
        display: none;
    }
    main {
        margin-top: 34px;
    }
    .menu-main {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 88px;
        & .col {
            min-width: 100%; 
            & .main-col {
                margin: 20px 0; 
                &-header {
                    padding-bottom: 21px;
                }
            }
        }
        & .theme640 {
            display: flex;
        }
        & .dark-theme {
            text-transform: uppercase;
            font-size: 29px;
            padding-left: 2%;
            padding-top: 6px;
            padding-bottom: 6px;
            color: $primaryFirst;
            background-color: $darkTheme;
        }
        & .light-theme {
            text-transform: uppercase;
            font-size: 29px;
            padding-left: 2%;
            padding-top: 6px;
            padding-bottom: 6px;
            color: $light-bg;
            background-color: $primaryFirst;
        }
    }
    .menu-header {
        &-item {
            &>h3 {
                font-size: 26px;
            }
            &>p {
                font-size: 13px;
            }
        }
        & .menu-header-logo {
            display: none;
        }
    }
    .menu-header-second {
        & .theme {
            font-size: 26px;
        }
    }
    .main-col-menu-items {
        & .price {
            & h4, span {
                font-size: 27px;
            }
        }
        & .description {
            font-size: 16px;
        }
    }
    .name {
        font-size: 27px;
    }
}

@media (max-width: 639px) {
    .menu-header-second {
        display: none;
    }
    main {
        margin-top: 39px;
    }
    .menu-main {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 72px;
        & .col {
            min-width: 100%; 
            & .main-col {
                margin: 20px 0; 
                &-header {
                    padding-bottom: 11px;
                    & .name {
                        font-size: 13px;
                        align-items: center;
                    }
                }
            }
        }
        & .theme640 {
            display: flex;
            min-width: 100%;
        }
        & .dark-theme {
            text-transform: uppercase;
            font-size: 14px;
            padding-left: 2%;
            padding-top: 6px;
            padding-bottom: 6px;
            color: $primaryFirst;
            background-color: $darkTheme;
        }
        & .light-theme {
            text-transform: uppercase;
            font-size: 14px;
            padding-left: 2%;
            padding-top: 6px;
            padding-bottom: 6px;
            color: $light-bg;
            background-color: $primaryFirst;
        }
    }
    .menu-header {
        &-item {
            &>h3 {
                font-size: 13px;
                min-width: 303px;
            }
            &>p {
                font-size: 9px;
            }
        }
        & .menu-header-logo {
            display: none;
        }
    }
    .menu-header-second {
        & .theme {
            font-size: 14px;
        }
    }
    .main-col-menu-items {
        & .price {
            & h4, span {
                font-size: 13px;
            }
        }
        & .description {
            font-size: 6px;
        }
    }
    .sprite {
        transform: scale(0.5);
    }
}

