.navigation-section {
    width: 100%;
    display: flex;
}
.navigation-main {
    display: flex;
    width: 100%;
    & .nav-block {
        cursor: pointer;
        text-decoration: none;
        display: flex;
        min-height: 400px;
        min-width: 33.3333333%;
        background-repeat: no-repeat;
        background-size: cover;
        color: $light-bg;
        font-size: 43px;
        font-weight: 700;
        align-items: center;
        justify-content: center;
    }
}

.navigation-link {
    display: none;
}
.delivery {
    background-image: linear-gradient(rgba(0,0,0,.3)), url('../../../dist/img/delivery.png');
}
.salads {
    background-image: linear-gradient(rgba(0,0,0,.3)), url('../../../dist/img/UA_UX\ Salads.png');
}
.desserts {
    background-image: linear-gradient(rgba(0,0,0,.3)), url('.././../../dist/img/Desserts.png');
}

@media (max-width: 1199px) {
    .nav-block {
        min-height: 327px;
        font-size: 38px;
    }
}

@media (max-width: 979px) {
    .navigation-link {
        display: flex;
        flex-direction: column;
        min-width: 25%;
        & .more-info {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            min-height: 150px;
            background-color: $primaryFirst;
            margin-bottom: 1px;
            cursor: pointer;
            &>i {
                color: $light-bg;
                font-size: 36px;
            }
        }
    }
    .navigation-main {
        flex-direction: column;
        width: 75%;
            & .nav-block {
                font-size: 36px;
                min-width: 100%;
                min-height: 150px;
                margin-bottom: 1px;
                background-position: center;
            }
            & .delivery {
                background-position: bottom;
            }
    }
}

@media (max-width: 639px) {
    .navigation-link {
        min-width: 25%;
        & .more-info {
            min-height: 75px;
            &>i{
                font-size: 20px;
            }
        }
    }
    .navigation-main {
        & .nav-block {
            min-height: 75px;
            font-size: 20px;
        }
    }
}