.dialog {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #f3f1f1;
    padding: 10px 20px 40px;
    border-radius: 8px;
    border: 1px solid #8f7878;
    display: flex;
    flex-direction: column;
    
    overflow: hidden;
    z-index: 10001;

}
.dialog-button {
    padding: 3px 8px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    font-weight: bold;
    align-self: flex-end;
}
.dialog-button-action {
    margin-top: 20px;
    align-self: flex-end;

    & button {
        margin: 2px;
        padding: 7px;
        border-radius: 5px;
    }
}
.backdrop {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.3);
}
.prod-item {
    width: 150px;
    height: 200px;
}
.prod-row {
    display: flex;
    justify-content: space-around;
}