.container {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    /*width: 1366px;
    height: 768px;*/
    background-image: url("../img-hw4/rana-sawalha.png");
    background-repeat: no-repeat;
    cursor: pointer;
}
header {
    width: 100vw;
    /*width: 1366px;*/
    display: inline-block;
    background-color: rgba(0,0,0,0.5);
}
.logo {
    display: inline-block;
    margin-top: 22px;
    margin-bottom: 19px;
    margin-left: 81px;
    text-transform: uppercase;
    font-size: 20px;
    color: rgba(255, 255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700; 
    text-decoration: none;
}
.logo:hover {
    color: #3cb878;
}
.sprites {
    /* background-image: url("../img-hm4/spritesheet-2.png");
    width: 28px;
    height: 29px; */
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 735px;
    border-right: 1px solid rgba(128, 87, 87, 0.767);
}
.icon1 {
    display: inline-block;
    background-image: url("../img-hw4/spritesheet+.png");
    width: 19px;
    height: 19px;
    background-position: -3px -28px;
    margin-right: 28px;
}
.icon2 {
    display: inline-block;
    background-image: url("../img-hw4/spritesheet+.png");
    width: 28px;
    height: 20px;
    background-position: -75px -3px;
    margin-right: 28px;
}
.icon3 {
    display: inline-block;
    background-image: url("../img-hw4/spritesheet+.png");
    width: 20px;
    height: 20px;
    background-position: -3px -55px;
    margin-right: 30px;
}
.icon1:hover {
    display: inline-block;
    background-image: url("../img-hw4/spritesheet+.png");
    width: 19px;
    height: 19px;
    background-position: -50px -3px;
    color: #329a65;
}
.icon2:hover {
    display: inline-block;
    background-image: url("../img-hw4/spritesheet+.png");
    width: 28px;
    height: 20px;
    background-position: -28px -29px;
}
.icon3:hover {
    display: inline-block;
    background-image: url("../img-hw4/spritesheet+.png");
    width: 20px;
    height: 20px;
    background-position: -62px -29px;
}
header p{
    float: right;
    margin-right: 155px;
    padding-top: 23px;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    text-transform: capitalize;
}
header p span {
    text-transform: lowercase;
}
header p a{
    text-decoration: none;
    color: #3cb878;
}
header p a:hover {
    text-decoration: underline;
    color: #329a65;

}
.header-form a:hover {
    text-decoration: underline #3cb878;
}
.div-form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    /*margin: 2% 0;*/
    margin: calc((100vh - 584px - 56px) / 2) auto;
    /*margin: 0 auto;
    top: 35px; left: 0; bottom: 0; right: 0;*/
    width: 444px;
    background-color: #ffffff;
    text-align: left;
    padding: 29px 60px 32px 62px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 4px 4px 16px gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}
.box {
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    margin-top: 2px;
    margin-left: -62px;
}
.header-form {
    display: inline-block;
    width: 322px;
    text-align: left;
}
.header-form h2 {
    display: inline-block;
    font-size: 20px;
    color: rgba(67, 67, 67, 255);
    text-transform: capitalize;
}
.log-in {
    float: right;
    font-size: 14px;
    color: rgba(60, 184, 120, 255);
    text-decoration: none;
    text-transform: capitalize;
    padding-top: 4px;
    
}
.buttons div{
    text-align: center;
    width: 157px;
    height: 46px;
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 15px;
    float: left;
    overflow: hidden;
    margin-bottom: 25px;
}
.fb {
    background-color: #305db8;
}
.google {
    background-color: #df4a32;
    margin-left: 8px;
}
.buttons div a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    margin-top: 13px;
}
.fb a::before {
    content: url("../img-hw4/facebook1@1X.png");
    margin-right: 19px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #2b54a5;
    padding-right: 17px;
     
}
.google a::before {
    content: url("../img-hw4/G+@1X.png");
    margin-right: 24px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #c8422d;
    padding-right: 9px;
}
.account-info input{
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    padding-left: 17px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #eaeaea;   
    border-radius: 3px;
    margin-bottom: 9px;
    overflow: hidden;
}
.account-info {
    margin-bottom: 13px;
}
.or hr {
    width: 322px;
    color: #eaeaea;
}
.or div{
    text-align: center;
    position: relative;
    top: -17px;
    left: 136px;
    color: rgba(132, 132, 132, 255);
    font-size: 14px;
    height: 14px;
    width: 50px;
    background-color: #ffffff;
}
input:focus {
    box-shadow: 4px 4px 10px #d6d6d6;
    outline: none;
}
.terms-link {
    color: #3cb878;
    text-decoration: none;
}
input[type="checkbox"] {
    /*margin-left: -60px;*/
    font-size: 14px;
    /*color: rgba(67, 67, 67, 255);*/
    display: none;
    text-align: left;
}
label::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 11px;
    border: 1px solid #eaeaea;
    background-color: white;
    border-radius: 3px;
    margin-right: 5px;
}
input[type="checkbox"]:checked + label::before {
    background-image: url("../img-hw4/checkmark-16.png");
    background-size: contain;
    background-repeat: no-repeat;
}
input[type="submit"] {
    margin-top: 28px;
    background-color: #3cb878;
    color: rgba(255, 255, 255, 255);
    font-size: 16px;
    border-radius: 3px;
}
