@font-face {
    font-family: MyriadPro;
    src: url('MyriadPro/MyriadProRegular/MyriadProRegular.eot'), 
    url('MyriadPro/MyriadProRegular/MyriadProRegular.ttf'), 
    url('MyriadPro/MyriadProRegular/MyriadProRegular.otf'), 
    url('MyriadPro/MyriadProRegular/MyriadProRegular.woff');
    
}
html {
    width: 1480px;
}
.container {
    font-family: MyriadPro, sans-serif;
    width: 1280px;
    padding-top: 61px;
    padding-left: 100px;
}
.logo {
    font-size: 80px;
    width: 292px;
}
.logo a {
    color: #000000;
    text-transform: capitalize;
}
.logo a span {
    color: #4bcaff;
    text-transform: lowercase;
}
.nav-bar{
    margin-top: 40px;
    line-height: 69px;
    text-align: center;
    background-color: #35444f;
    width: 1280px;
    height: 69px;
}
.nav-bar .nav-bar-list li {
    display: inline-block;
    /*padding-right: 70px;*/
}
.nav-bar-item-1 {
    width: 329px;
}
.nav-bar-item-2 {
    width: 150px;
}
.nav-bar-item-3 {
    width: 264px;
}
.nav-bar-item-4 {
    width: 215px;
}
.nav-bar a{
    color: #ffffff;
    font-size: 24px;
    text-transform: capitalize;
    display: block;
    cursor: pointer;
}
.nav-bar-list a span {
    text-transform: lowercase;
}
.nav-bar a:hover {
    background-color: rgba(0, 0,0, 0.3);
    border-right: 1px solid white;
    border-left: 1px solid white;
}
.inline-block {
    display: inline-block;
}
.sidebar {
    width: 344px;
    height: 399px;
    border: 1px solid #35444f;
    margin-top: 50px;
}
.sidebar li {
    line-height: 81px;
    width: 344px;
    /*padding-left: 40px;*/
    font-size: 30px;
    text-transform: capitalize;
}
.sidebar a {
    color: rgba(72, 88, 99, 255);
}
.sidebar .sidebar-list li {
    display: inline-block;
} 

.sidebar li a:hover {
    background-color: #dbdbdb;
    padding-left: 60px;
}
.sidebar li a {
    display: block;
    padding-left: 40px;
}
.content {
    /*position: relative;*/
    margin-left: 393px;
    margin-top: -400px;
    margin-bottom: 50px;
}
.image {
    display: inline-block;
    width: 885px;
    border: 1px solid #35444f;
    text-align: center; 
    padding: 74px 0;
}
img.zoom:hover {
    transform: scale(1.3)
}
img.zoom {
    transition: 1s;
}
.text {
    font-size: 18px;
    color: rgba(44, 44, 44, 255);
}
.text1 {
    width: 815px;
    margin-top: 45px;
    margin-left: 30px;
}
.text1 span{
    text-transform: capitalize;
}
.text2 {
    width: 820px;
    margin-top: 30px;
    margin-left: 30px;
}
.footer {
    display: inline-block;
    width: 1280px;
    height: 69px;
    background-color: #b4b7ba;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.footer-nav-bar li a{
    float: left;
    margin-left: 44px;
    margin-top: 22px;
    font-size: 26px;
    padding-right: 15px;
    text-transform: capitalize;
    color: #0c1927;
}

.footer-nav-bar a:hover {
    text-decoration: underline;
    color: #3181a6;
}
.footer-copyright {
    text-transform: capitalize;
    margin-left: 1070px;
    margin-top: 22px;
    font-size: 22px;
    /*position: relative;*/
}


