body i {
    font-family:'FontAwesome' !important;
    }
body {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
section {
    min-width: 1200px;
    background-image: url("../image/header.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-header {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 50px;
}
.container {
    width: 1160px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
header {
    background-color: rgba(59, 47, 47, 0.295);
    position: fixed;
    width: 100%;
}
.logo {
    display: flex;
    text-decoration: none;
}
.hexagon {
    background-image: url("../image/hexagon.png");
    height: 67px;
    width: 58px;
    position: absolute;
}
.hexa-letter {
    font-weight: bold;
    font-size: 40px;
    color: rgba(255, 255, 255, 255);
    position: relative;
    top: 15px;
    left: 13px;
}
.logo-text {
    position: relative;
    font-weight: 400;
    color: rgba(255, 255, 255, 255);
    font-size: 24px;
    padding-left: 36px;
    padding-top: 22px;
}
span {
    color: #18cfab;
}
.nav-menu a{
    font-size: 13px;
    color: #b8b8b8;
    text-decoration: none;
    text-transform: uppercase;
    width: 644px;
    margin-right: 15px;
}
.nav-menu {
    align-self: flex-end;
}
.icon {
    color: #b8b8b8;
}
.menu-active {
    color: #18cfab !important;
    padding-bottom: 49px;
    border-bottom: 2px solid #18cfab;
}
/* -------------------------------------We Are Creative--------------------------------- */

.header-shop h2 {
    color: rgba(255, 255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
    padding-top: 246px;
}
.header-shop p {
    font-size: 70px;
    color: rgba(255, 255, 255, 255);
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 45px;
}
.header-shop h3 {
    font-weight: 300;
    font-size: 30px;
    color: rgba(212, 212, 212, 255);
    text-transform: capitalize;
    padding-top: 36px;
}
.shop-buttons {
    padding-bottom: 244px;
    display: flex;
    justify-content: center;
}
.shop-button {
    padding-top: 146px;
}
.shop-buttons button {
    height: 61px;
    width: 166px;
    border-top: 4px solid white;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    background: #18cfab;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
}
.shop-button {
    width: 360px;
    display: flex;
    justify-content: space-between;
}
button:focus {
    outline: none;
    cursor: pointer;
}

/* ----------------------------------------Options-------------------------------- */

.options {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    height: 374px;
    text-transform: uppercase;
    text-align: center;
}
.grid-text-emerald {
    margin-top: 48px;
}
.grid-text-white {
    margin-top: 69px;
}
.emerald {
    background-color: #18cfab;
    border-top: 7px solid white;
    font-weight: 700;
    font-size: 20px;
    color: rgba(255, 255, 255, 255);
}
.navy-blue {
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
    font-weight: 700;
    font-size: 20px;
    color: #18cfab;
}
.sprite {
    margin: 0 auto;
    margin-top: 95px;
    background-image: url("../image/spritesheet.png");
    background-repeat: no-repeat;
    display: block;
}
.sprite-Forma1 {
    width: 58px;
    height: 97px;
    background-position: -3px -3px;
}
.sprite-Forma2 {
    width: 93px;
    height: 75px;
    background-position: -67px -3px;
}
.sprite-Forma3 {
    width: 60px;
    height: 96px;
    background-position: -166px -3px;
}
.sprite-Forma4 {
    width: 99px;
    height: 76px;
    background-position: -67px -105px;
}

/* --------------------------------------Our Services---------------------------- */


.article-line {
    padding-top: 82px;
}
.doubleline {
    text-align: center;
    margin-top: 41px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}
.line {
    width: 77px;
    height: 1px;
    background-color: #18cfab;
}
.first {
    position: relative;
}
.second {
    margin-top: 3px;
    margin-left: 12px;
    position: absolute;
}
.article-line h3 {
    font-size: 36px;
    color: rgba(78, 78, 78, 255);
    font-weight: 400;
    text-transform: capitalize;
}
.tabs {
    margin-bottom: 105px;
}
.tabs__caption {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.tabs__caption li.active-tabs {
    background-color: #18cfab;
    color: rgba(255, 255, 255, 255);
    position: relative;
}
.tabs__caption li.active-tabs::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 13px solid #18cfab;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    margin-top: 45px;
    margin-left: -60px;
    position: absolute;
}
.tabs__caption li {
    border: 1px solid #ebecec;
    background-color: #f8fcfe;
    color: rgba(113, 113, 113, 255);
    font-size: 16px;
    padding-top: 27px;
    padding-bottom: 30px;
    text-transform:  capitalize;
}
.tabs__content.active-tabs{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
}
.active-tabs {
    display: block;
}
.tabs__content {
    display: none;
}
.tabs__content p {
    grid-column: 2/span 5;
    font-size: 14px;
    color: rgba(119, 119, 119, 255);
    text-align: justify;
    font-weight: 300;
}
.tabs__content_image {
    width: 194px;
    height: 139px;
    background-size: cover;
    background-repeat: no-repeat;
}
.web {
    background-image: url("../image/web.png");
}
.graphic {
    background-image: url("../image/graphic.png");
}
.support {
    background-image: url("../image/support.png");
}
.appdesign {
    background-image: url("../image/desygner-app.png");
}
.marketing {
    background-image: url("../image/marketing.png");
}
.seo {
    background-image: url("../image/seo-webdesignsolutions.png");
}



/* ---------------------------------Our Amazing Work------------------------------- */

.our-amazing-work {
    background-color: #f8fcfe;
}
.section2 {
    font-family: 'Montserrat', sans-serif;
    background-image: url("../image/Sections-background/section-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
}
.section2 h3 {
    font-weight: 700;
    font-size: 40px;
    color: rgba(24, 207, 171, 255);
    text-align: center;
    text-transform: uppercase;
    padding-top: 128px;
}
.section2 p {
    margin-top: 35px;
    font-size: 16px;
    color: rgba(216, 216, 216, 255);
    text-align: center;
}
.section2 .shop-buttons {
    margin-top: 76px;
    padding-bottom: 125px;
}



.portfolio-menu-ul {
   display: flex;
   justify-content: center;
}
.portfolio-menu-ul li {
    border: 1px solid #ebebeb;
    color: #7a7a7a;
    font-size: 14px;
    padding: 24px 21px 20px 29px;
    text-transform: capitalize;
    background-color: white;
}
.portfolio-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 71px;
}
.portfolio-item-hover {
    background-color: #f8fcfe;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.portfolio-item-hover-circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.circle {
    width: 41px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #18cfab;
    margin-top: 46px;
    margin-bottom: 34px;
    position: relative;
}
.circle1 {
    margin-right: 2.5px;
}
.circle2 {
    margin-left: 2.5px;
}
.icon-circle {
    width: 12px;
    height: 11px;
    color: #18cfab;
    position: absolute;
    margin-top: 12px;
    margin-left: -6px;
}
.connection {
    transform: rotate(90deg);
}
.circle:hover {
    background-color: #18cfab;
}
.circle:hover i {
    color: #fff;
}

.reduct {
    background-repeat: no-repeat;
    background-size: cover;
}

.load-more {
    margin-top: 71px;
}
.load-more-button {
    height: 60px;
    width: 165px;
    background-color: #18cfab;
    color: rgba(255, 255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    margin-bottom: 100px;
}
.load-more-button-text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.active {
    color: #18cfab !important;
    border-top: 1px solid #18cfab !important;
} 
.item {
    width: 284px;
    height: 206px;
    background-repeat: no-repeat;
    background-size: cover;
}

.portfolio-item-and-hover{
    position: relative;
}

.portfolio-item-and-hover:hover .portfolio-item-hover{
    opacity: 1;
}
.graphic {
    width: 284px;
    height: 206px;
    background-size: cover; 
    background-repeat: no-repeat;
}
.web {
    width: 284px;
    height: 206px;
    background-size: cover; 
    background-repeat: no-repeat;
}


/* ---------------------------------Breaking News--------------------------------- */

.blog-post {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 87px;
}
.blog-post-block {
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 45px;
    text-decoration: none;
}
.blog-post-block:hover .blog-post-item-title {
    color: #18cfab;
}
.blog-post-block:hover .data {
    background-color: #18cfab;
}
.blog-post-image {
    height: 208px;
    width: 263px;
    position: relative;
}
.image1 {
    background-image: url("../image/Breaking-News/image1.png");
}
.image2 {
    background-image: url("../image/Breaking-News/image2.png");
}
.image3 {
    background-image: url("../image/Breaking-News/image3.png");
}
.image4 {
    background-image: url("../image/Breaking-News/image4.png");
}
.image5 {
    background-image: url("../image/Breaking-News/image5.png");
}
.image6 {
    background-image: url("../image/Breaking-News/image6.png");
}
.image7 {
    background-image: url("../image/Breaking-News/image7.png");
}
.image8 {
    background-image: url("../image/Breaking-News/image8.png");
}
.blog-post-items {
    height: 72px;
    background-color: #f8fcfe;
    border: 1px solid #ececec;
}
.blog-post-item-title {
    font-weight: 700;
    font-size: 18px;
    color: rgba(113, 113, 113, 255);
    text-transform: capitalize;
    padding-top: 14px;
}
.blog-post-item-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 14px;
    font-weight: 300;
    font-size: 14px;
    color: rgba(119, 119, 119, 255);
}
.vertical {
    border-right: 2px solid #d6d9da;
}
.data {
    position: absolute;
    height: 66px;
    width: 68px;
    background-color: #203e38;
    color: rgba(255, 255, 255, 255);
    font-size: 16px;
    margin-top: -208px;
    margin-left: 195px;
}
.data-number {
    padding-top: 15px;
}
.data-month {
    padding-top: 5px;
}

/* ---------------------------What People Say About theHam------------------------ */

.section-slider {
    background-image: url("../image/Sections-background/section-3.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
}
.article-line h2{
    color: rgba(255, 255, 255, 255);
    font-size: 36px;
    font-weight: 400;
    text-transform: capitalize;
    padding-top: 98px;
}
.quotation-mark {
    width: 44px;
    height: 30px;
    background-image: url("../image/Quotation-mark.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 69px;
    margin: 0 auto;
}
.section-slider-content {
    font-weight: 300;
    font-size: 16px;
    color: rgba(187, 187, 187, 255);
    line-height: 30px;
    margin-top: 44px;
}
.slider-nav {
    width: 62px;
    height: 61px;
    background-size: contain;
}
.slider-nav {
    background-size: coner;
    background-repeat: no-repeat;
    width: 62px;
    height: 61px;
}
.slider-nav-container {
    width: 352px;
    display: flex;
    justify-content: space-between;
}
.slider-arrow {
    height: 31px;
    width: 31px;
    border: 1px solid #fff;
    font-size: 14px;
    color: #fff;
    padding-top: 15px;
    margin-top: 10px;
}
.arrow-left {
    margin-right: 33px;
}
.arrow-right {
    margin-left: 33px;
}
.slider-pic {
    position: relative;
    transition: all 1s;
    border-radius: 50%;
}
.slider-icon {
    width: 62px;
    height: 61px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(66, 146, 109, 0.336);
}
.slider-active {
    bottom: 15px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #18cfab,0 0 0 5px rgba(66, 146, 109, 0.336);
}
.slider-people-index {
    display: none;
}
.slider-people-index.active-slider {
    display: block;
}
.slider-people {
    margin-bottom: 54px;
}

.employee1 {
    background-image: url("../image/team/employee4.png");
}
.employee2 {
    background-image: url("../image/team/employee3.png");
}
.employee3 {
    background-image: url("../image/team/employee1.png");
}
.employee4 {
    background-image: url("../image/team/employee2.png");
}
.slider-nav {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 482px;
    justify-content: space-evenly;
    margin-bottom: 103px;
}
.slider-people-text {
    font-size: 16px;
    margin-top: 43px;
    margin-bottom: 27px;
}
.slider-people-name {
    font-weight: 700;
    color: #18cfab;
    text-transform: uppercase;
}
.slider-people-position {
    padding-top: 10px;;
    font-weight: 300;
    color: rgba(187, 187, 187, 255);
}
.team-employee {
    width: 143px;
    height: 142px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #18cfab, 0 0 0 7px rgba(66, 146, 109, 0.336);
    

    /* border: 5px solid rgba(66, 146, 109, 0.336); */
}

/* ---------------------------------Footer----------------------------- */
footer {
    background-color: #22353f;
}
.footer-content a{
    text-decoration: none;
    color: #18cfab;
}
.footer-content {
    font-size: 14px;
    color: rgba(174, 174, 174, 255);
    padding-top: 47px;
    padding-bottom: 47px;
}