.btn {
    font-family: 'Quicksand', sans-serif;
    border-radius: 5px;
    height: 20px;
    background-color: #DCDCDC;
}
.btn:active {
    outline: none;
    border: none
}
.btn-delete {
    display: none;
}