body i {
    font-family:'FontAwesome' !important;
    }
.container {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    margin-top: 200px;
    width: 1900px;
    font-family: 'Open Sans', sans-serif;
}
header {
    background-color: #1d2124;
    color: rgba(255, 255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.logo {
    display: flex;
    flex-direction: row;
    margin: 22px 0 21px 33px;
}
.logo-image {
    width: 27px;
    height: 27px;
    padding-right: 21px;
    background-image: url("../img/logo-img@1X.png");
    background-repeat: no-repeat;
}
.logo-name {
    font-size: 22px;
    font-weight: 700;
}
.search {
    color: #f8f8f8;
    align-self: center;
}
.search input#search {
    margin-right: 10px;
    width: 0px;
    height: 17px;
    background: #1d2124;
    border: none;
    font-size: 18px;
    float: left;
    color: #262626;
    padding-left: 35px;
    border-radius: 5px;
    color: #fff;

    transition: width .55s ease;
}
.icon {
    background-color: #171a1c;
    padding: 23px 25px 25px 25px;
}

.search input#search:focus, .search input#search:active{
    outline:none;
    width: 300px;
    background-color: #2b303b;
}
 
.search:hover input#search{
    width: 300px;
    background-color: #2b303b;
}
 
.search:hover .icon{
    color: #93a2ad;
}


.nav-menu a{
    color: rgba(255, 255, 255, 255);
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    width: 616px;
    margin-right: 37px;
}
.nav-menu {
    align-self: center;
}
figure {
    background: rgba(0,0,0,0.5) url("../img/html_css_homework_homework6_img_header-bg.jpeg") no-repeat;
    background-blend-mode: darken;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-top: 125px;
    padding-bottom: 130px;
    width: 1900px;
}
figure h2 {
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 400;
    color: rgba(255, 255, 255, 255);
    letter-spacing: 1.5px;
}
.input-button {
    align-self: center;
    color: rgba(255, 255, 255, 255);
    width: 360px;
    display: flex;
    justify-content: space-between;
    margin-top: 44px;

}
input[type="button"] {
    width: 170px;
    height: 55px;
    color: rgba(255, 255, 255, 255);
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 600;
}
input:focus {
    outline: none;
}
input:hover {
    cursor: grab;
}

.subscribe-now {
    background-color: #89ca62;
}
.best-articles {
    background-color: #14b9d5;
}


.popular-posts {
    background-color: #f2f2f2;
}
.popular-posts-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 70px;
}
.one {
    margin-right: 30px;
}
.top {
    margin-top: 31px;
}
.posts-group {
    display: flex;
    flex-direction: column;
}
.popular-posts h2 {
    text-transform: uppercase;
    color: rgba(24, 180, 207, 255);
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
}
.posts-text {
    color: rgba(53, 58, 61, 255);
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 22px;
    margin-top: -1px;
    background-color: #ffffff;
}

/*.four {
    margin-top: -90px;
}
.five {
    margin-top: 32px;
}
.six {
    margin-top: -54px;
}*/

.clients-block {
    background: rgba(0, 0 ,0 , 0.5) url("../img/html_css_homework_homework6_img_parallax-bg.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
}
.clients-block-content {
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 13px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 201px;
    margin-bottom: 207px;
}

.clients-block-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 255);
    grid-column: 1/span 4;
}
.clients-block-line {
    height: 3px;
    width: 60px;
    background-color: #169cb4;
    margin: 0 auto;
    grid-column: 1/span 4;
}
.clients-block-logo1 {
    display: flex;
    align-items: center;
    justify-content: end;
}
.clients-block-logo2 {
    text-align: right;
}
.clients-block-logo3 {
    text-align: right;
}
.clients-block-logo4 {
    text-align: right;
}

.top-rated {
    background-color: #ffffff;
    margin-bottom: 71px;
}
.top-rated h3 {
    text-transform: uppercase;
    font-size: 27px;
    text-align: center;
    color: rgba(24, 180, 207, 255);
    font-weight: 700;
    margin-top: 65px;
    margin-bottom: 51px;
}
.top-rated-images {
    width: 1900px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1px;
}
.hot-news-block {
    margin: 0 auto;
    display: grid;
    width: 1170px;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 42px;
    grid-column-gap: 60px;
}
.news-horozontal {
    display: flex;
    flex-direction: row;
}
.news-verical {
    display: flex;
    flex-direction: column;
}
.col1 {
    grid-column: 1/span 3;
    width: 856px;
}
.col2 {
    width: 277px;
}
.col3 {
    width: 554px;
    grid-column: 1/span 2;
}
.col4 {
    width: 554px;
    grid-column: 3/span 2;
}
.col5 {
    width: 554px;
    grid-column: 1/span 2;
}
.col6 {
    width: 554px;
    grid-column: 3/span 2;
}
.col7 {
    width: 277px;
}
.col8 {
    width: 856px;
    grid-column: 2/span 3;
    margin-left: -25px;
}

.news-item-content {
    background-color: #f9f7f7;
    text-align: right;
    padding: 41px 22px 37px 22px;
}
.col-height {
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f7f7;
    font-weight: 700;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
}
.news-item-title {
    font-weight: 700;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
}
.news-item-text {
    margin-top: 22px;
    font-weight: 600;
    font-size: 14px;
    color: rgba(91, 100, 105, 255);
    text-indent: 1.5em;
}

footer {
    background-color: #1d2124;
}
.footer-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 34px;
    margin-bottom: 33px;
}
.footer-title {
    font-size: 13px;
    color: rgba(255, 255, 255, 255);
    margin-right: 84px;
}
.footer-logo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 105px;
    margin-left: 479px;
}
.footer-logo-part2 {
    grid-column: 2/span 2;
}