@import url(http://allfont.ru/allfont.css?fonts=courier);

.body {
    width: 1366px;
    /*background: radial-gradient(70% 60%,rgba(240, 204, 238, 0.93), rgba(81, 173, 189, 0.93));*/
    background: rgba(0,0,0,0.5) url("../Howework3/img-Milan/background@1X-2.png") no-repeat;
    background-blend-mode: darken;
    /*background-image: url("../Howework3/krugi_fon_bliki_svet_65977_1400x1050.jpg");*/
}
header {
    display: inline;
}
.container {
    width: 1059px;
    margin-left: 155px;
    padding-top: 49px;
    padding-bottom: 20px;
    cursor: pointer;
    font-family: 'Courier';
}
.logo-text:hover {
    color: #f26522;
}

.logo-picture {
    height: 44px;
    width: 46px;
    float: left;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}
.logo-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    width: 105px;
    font-size: 18px;
    height: 46px;
    line-height: 24px;
    margin-left: 15px;
    vertical-align: top;
    float: left;
    color: rgba(255, 255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
}
.logo-text::first-line {
    width: 104px;
    font-size: 29px;
    font-weight: 700;
}
.info {
    float: right;
    display: block;
    width: 243px;
    height: 46px;
    text-align: right;
    font-size: 18px;
    overflow: auto;
}
.info a{
    color: rgba(255, 255, 255, 255);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.info a:hover {
    color: #f26522;
}
.menu {
    width: 1072px;
    margin: 0 auto;
    margin-top: 45px;
    text-transform: capitalize;
    overflow: hidden;
    margin-bottom: 52px;
}
.photo {
    float: left;
    overflow: hidden;
    margin-bottom: 22px;
    width: 307px;
    height: 200px;
    cursor: pointer;
    background-color: transparent;
    border: solid 3px;
    border-image: linear-gradient(to bottom, rgba(242, 154, 31, 0.14) 0%, #f26522 100%);
    border-image-slice: 1;

    /*border: 3px solid transparent;
    border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;*/
}

.menu-type:nth-of-type(1) {
    margin-right: 69px;
    width: 307px;
}
.menu-type:nth-of-type(2) {
    width: 308px;
    margin-right: 68px;
    margin-bottom: 50px;
}
.menu-type:nth-of-type(3) {
    width: 307px;
}
.menu-type:nth-of-type(4) {
    margin-right: 69px;
    width: 307px;
}
.menu-type:nth-of-type(5) {
    margin-right: 68px;
    margin-bottom: 2px;
    width: 308px;
}
.menu-type:nth-of-type(6) {
    width: 307px;
}
.menu-text {
    text-decoration: none;
    color: rgba(255, 255, 255, 255);
    font-size: 18px;
    display: block;
    text-align: center;
}
.menu-type {
    float: left;
    position: relative;
}
.button {
    position: absolute;
    width: 307px;
    top: 142px;
    opacity: 0;
    transition: opacity .35s ease;
}
.button a {
    text-decoration: none;
    display: block;
    width: 312px;
    height: 63px;
    color: white;
    background-color: #f26522;
    z-index: 1;
}
.menu-type:hover .button {
    opacity: 1;
}
.price {
    display: block;
    width: 38px;
    padding-left: 21px;
    padding-top: 12px;
    margin-bottom: -16px;
    font-size: 10px;
    line-height: 18px;
    text-transform: lowercase;
}
.price span {
    font-size: 20px;
}
.view-details {
    float: right;
    overflow: hidden;
    font-size: 14px;
}
.view-details span {
    padding-left: 18px;
    padding-right: 18px;
}
footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: capitalize;
}

span {
    text-transform: uppercase;;
}
footer span::after {
    content: " rights reserved";
    text-transform: lowercase;
}



