body {
    height: 100%;
    width: 100%;
    background-color: black;
}

.star-war {
    overflow: hidden;
    margin: 0 auto;
    text-align: left;
    width: 600px;
    color: #feda4a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    position: relative;
    animation: episode linear;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    transform: perspective(200px) rotateX(15deg);
}

.title p {
    text-align: center;
}

@keyframes episode {
    0% {
        bottom: -590px;
    }
    
    100% {
        bottom: 50px;
    }
}

