@import '../../node_modules/bootstrap/dist/css/bootstrap.css';

$primaryFirst: #ACD8AD;
$primarySecond: #3F4043;
$darkTheme: #373C3F;
$light-bg: #FFFFFF;
$dropDownMenu: #444444;
$dropDownMenuBgC: #FAFAFA; 

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.row {
    display: flex;
    margin: 0;
    width: 100%;
}
.justify-end {
    justify-content: space-between;
}
.aligth-center {
    align-items: center;
}
@media (max-width: 1199px) {
    .container {
        width: 1170px;
    }
};
@media (max-width: 979px) {
    .container {
        width: 934px;
    }
};
@media (max-width: 639x) {
    .container {
        width: 564px;
    }
};
@media (max-width: 320px){
    .container {
        width: 280px;
    }
};


@import './components/mainHeader.scss';
@import './components/Header.scss';
@import './components/Navigation.scss';
@import './components/Menu.scss';
@import './components/Footer.scss';
