@font-face {
	font-family: 'Conv_GothamRoundedBold_21016';
	src: url('fonts/GothamRoundedBold_21016.eot');
	src: local('☺'), url('fonts/GothamRoundedBold_21016.woff') format('woff'), url('fonts/GothamRoundedBold_21016.ttf') format('truetype'), url('fonts/GothamRoundedBold_21016.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.container {
    width: 1280px;
    margin: 0 auto;
}
.header-nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    display: inline;
    line-height: 32px;
    text-transform: uppercase;    
    padding: 16px;
}
.header-nav-list {
    width: 577px;
    margin: 0 auto;
}
.header-nav-item a {
    color: #16a085;
    float: left;
    padding-right: 55px;

}
.header-nav-item a:hover {
    text-decoration: underline;
    color: #16a085;
}
.img {
    margin-top: 32px;
    background-image: url(./crop@1X-2.png);
    height: 790px;
    background-repeat: no-repeat;
}
.smallcont {
    background-color: #f5f6f7;
}
.text {
    width: 1059px;
    margin-left: 113px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    word-spacing: 10px;
}
.ptitle {
    text-align: center;
    padding-top: 50px;
    font-size: 22px;
    color: rgba(55, 55, 55, 255);
    text-transform: uppercase;
}
.pone {
    margin-top: 27px;
    font-size: 16px;
    color: rgba(55, 55, 55, 255);
    text-align: center;
    text-indent: 41px;
}
.clt {
    display: inline-block;
    line-height: 51px;
    text-align: center;
    width: 192px;
    height: 51px;
    background-color: #16a085;
    margin: 40px 460px 94px;
}
.clt a:hover {
    text-decoration: underline;
    color: #f5f6f7; 
}
.click {
    font-family: 'Conv_GothamRoundedBold_21016';
    text-decoration: none;
    color: rgba(255, 255, 255, 255);
    font-size: 12px;
    text-transform: uppercase;
}
.footertext {
    font-size: 16px;
    color: rgba(55, 55, 55, 255);
    text-align: left;
    margin: 45px;
    margin-left: 768px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}