header {
    height: 100px;
    width: 100%;
    background-color: #dff1ca;
}
.modal-content.active {
    display: block;
}

.modal-content {
    display: none;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    // box-sizing: content-box;
}
.visit-modal-content {
    display: none;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.visit-modal-content.active {
    display: block;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#create-visit-modal {
    display: none;
}
#create-visit-modal.active {
    display: block;
}

