.page-footer {
    font-family: 'Poppins', sans-serif;
}
.footer-links {
    background-color: #363636;
}
.footer-copyright {
    background-color: #2a2a2a;
    color: #898989;
}
.footer-copyright a {
    color: #898989;
}
.footer-column li {
    font-size: 14px;
}

.footer-icon a i:hover {
    color: #d18c32;
}