.cart-action {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-bottom: -20px;
    & .cart-action-delete {
        width: 16px;
        height: 16px;
        margin-top: 4%;
    }
}