body i {
    font-family:'FontAwesome' !important;
    }
table {
    height: 680px;
    width: 1143px;
    text-align: center;
    border-collapse: collapse;
    font-size: 16px;
    color: rgba(72, 72, 72, 255);
    text-transform: uppercase;
    border-top: 24px solid #3a4965;
    border-right: 30px solid #3a4965;
    border-left: 22px solid #3a4965;
    border-bottom: 32px solid #3a4965;
}
thead td {
    height: 85px;
}
thead .head td{
    height: 42px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
}
tbody td {
    font-family: 'Arimo', sans-serif;
    padding-top: 26px;
    padding-bottom: 26px;
    /*box-shadow: 1px 1px 1px 1px #dadada;*/
}
tfoot td {
    height: 77px;
}
table td {
    border: 1px solid #dadada;
    box-shadow: 1px 1px 1px 1px #dadada;
}
.sprites-block {
    display: inline-block;
}
.sprites{
    background-repeat: no-repeat;
    display: block;
    border: none;
}
.icon1 {
    /*background-image: url("../img5/spritesheet.png");
    background-position: -32px -29px;
    width: 23px;
    height: 21px;*/
    margin-right: 110px;
    margin-top: -5px;
    
}
.icon2 {
    display: inline-block;
    margin-right: 135px;
    margin-top: -5px;
    /*background-image: url("../img5/spritesheet.png");
    width: 26px;
    height: 19px;
    background-position: -3px -3px;*/
}
.icon3 {
    display: inline-block;
    margin-right: 90px;
    margin-top: -5px;
    /*background-image: url("../img5/spritesheet.png");
    width: 24px;
    height: 20px;
    background-position: -35px -3px;*/
}
.icon4 {
    display: inline-block;
    margin-right: 110px;
    margin-top: -5px;
    /*background-image: url("../img5/spritesheet.png");
    width: 24px;
    height: 25px;
    background-position: -65px -3px;*/
}
.icon5 {
    display: inline-block;
    margin-right: 120px;
    margin-top: -5px;
    /*background-image: url("../img5/spritesheet.png");
    width: 23px;
    height: 23px;
    background-position: -3px -29px;*/
}
.icon6 {
    margin-right: 95px;
    margin-top: -5px;
    /*background-image: url("../img5/spritesheet.png");
    width: 26px;
    height: 25px;
    background-position: -61px -34px;
    display: inline-block;*/
}
.option {
    margin-top: -18px;
}
thead .column2 {
    padding-top: 27px;
}
.column1 {
    background-color: #484848;
    margin-top: 32px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
}
.column1:hover {
    transform: scale(1.2);
}
.column2 {
    background-color: #89c331;
    font-size: 24px;
    color: rgba(255, 255, 255, 255); 
    border: 1px solid #89c331;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
}
.row4 .column2:hover{
    transform: scale(1.2);
}
.column3 {
    background-color: #f04a56;
    font-size: 24px;
    color: rgba(255, 255, 255, 255); 
    border: 1px solid #f04a56;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
}
.row4 .column3:hover {
    transform: scale(1.2);
}
.column4 {
    background-color: #20807c;
    font-size: 24px;
    color: rgba(255, 255, 255, 255); 
    border: 1px solid #20807c;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
}
.row4 .column4:hover {
    transform: scale(1.2);
}
input[type="button"] {
    width: 192px;
    height: 49px;
    border-radius: 5px;
    font-size: 16px;
    color: rgba(255, 255, 255, 255); 
    text-transform: uppercase;
}
.row4 .column1 {
    box-shadow: 0 -8px #404040 inset;
    background-color: #484848;
}
.row4 .column2 {
    box-shadow: 0 -8px #79b027 inset;
    background-color: #89c331;
}
.row4 .column3 {
    box-shadow: 0 -8px #df3a46 inset;
    background-color: #f04a56;
}
.row4 .column4 {
    box-shadow: 0 -8px #16736f inset;
    background-color: #20807c;
}

input[type="button"]:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.choose {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 30px;
    width: 216px;
    padding-right: 49px;
    padding-left: 49px;
    vertical-align: middle;
}
.choose span {
    font-size: 18px;
}
.row1 {
    background-color: #fafafa;
}
.row2 {
    background-color: #f2f2f2;
}
.row3 {
    background-color: #e3e3e3;
}
.row4 {
    background-color: #eeeeee;
}
/*table .price1 {
    display: inline-block;
    width: 215px;
    height: 50px;
    text-align: left;
    border: none;
    color: rgba(72, 72, 72, 255);
}
.price1 td, tr {
    border: none;
    padding: 0;
}*/


.price {
    margin-top: 11px;
    margin-right: 100px;
    display: inline-block;
    position: relative;
    font-size: 60px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
}
.price sup {
    position: absolute;
    font-size: 24px;
    margin-top: 7px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
}
.price sub {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    position: absolute;
    font-size: 18px;
    width: 108px;
    margin-top: 32px;
}